/*
* Styles for the deck of cards
*/

.deck {
  display: grid;
  gap: 10px 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 4%;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  align-items: center;
  background: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.deck .card {
  background: url(/assets/img/card.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(40 23 23 / 96%);
  border: 2px solid rgb(2 255 229 / 80%);
  border-radius: 8px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card img {
  background-color: #ffffffd6;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
  border-radius: 8px;
}

.card.match img {
  cursor: default;
  background: #02a1ccbf;
}
