/*
* Styles for the modal
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background: rgb(224, 224, 224); */
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.modalContent {
  width: 80%;
  border-radius: 20px;
  margin: 10% auto;
  background-color: white;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.playAgain {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.playAgain:hover {
  background-color: #45a049;
}
