html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Coda", cursive;
  background-color: #90d7dd;
}

.container {
  display: block;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}
/*
* Styles for the Score Panel
*/

.head h1 {
  text-align: center;
  font-weight: bold;
}

.score-info {
  display: flex;
  justify-content: center;
}

.score-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #0f7deb;
  width: 320px;
  border-radius: 8px;
  margin: 0 10px;
}

.title-move {
  width: 80px;
}

.timer {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding: 0 10px;
  width: 212px;
}

.moves::before,
.timer::before {
  content: attr(data-icon);
  display: inline-block;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
}

.moves {
  color: #007bff;
  font-weight: bold;
}

.restart i {
  font-size: 24px;
  color: #007bff;
  transition: color 0.3s ease;
}

/*========== Media Query ==========*/

@media screen and (max-width: 320px) {
  .score-panel {
    flex-direction: column;
    height: 100px;
  }
}
